.wp-block-daf-emc01 {
 
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    padding: 20px;
    margin: 10px 0px 10px 0px;
}

.wp-block-daf-emc01 h4 {
   
}

.wp-block-daf-emc01 h5 {
    margin-left: 15px;
    font-size: .90em;
}

.wp-block-daf-emc01 a,
.wp-block-daf-emc01 a:visited,
.wp-block-daf-emc01 a:active {
    color: #fff;
}