.wp-block-daf-dynamicpagealert {
 
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    padding: 20px;
    margin: 10px 0px 10px 0px;
}

.wp-block-daf-dynamicpagealert h4 {
   
}

.wp-block-daf-dynamicpagealert h5 {
    margin-left: 15px;
    font-size: .90em;
}

.wp-block-daf-dynamicpagealert a,
.wp-block-daf-dynamicpagealert a:visited,
.wp-block-daf-dynamicpagealert a:active {
    color: #fff;
}